#addTask {
  background-color: #23BEE0;
  color: #FFFFFF;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 6px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  left: 720.65px;
}

h1 {
  color: #646464;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  width: 181px;
  height: 29px;
  top: 218px;
  left: 206px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#main {
  background-color: #FFFFFF;
  width: 934px;
  height: 850px;
  margin-left: 118px;
  margin-right: 118px;
  overflow: auto;
}

#priority {
  background-color: #23BEE0;
  color:#FFFFFF;
  width: 359px;
  height: 727px;
  top: 163px;
  left: 1022px;
  border-radius: 11px;
  overflow: auto;
}

.pp {
  width: 111px;
  height: 29px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-left: 45px;
  margin-top: 55px;
  color: #FFFFFF;
}

.draggables {
  padding: 1rem;
  border-left: 5px solid #23BEE0;
  border-bottom: 1px solid #E2E2E2;
  box-sizing: border-box;
  display: inline-block;
  cursor: move;
  height: 114px;
  width: 682px;
}

.draggable.dragging {
  opacity: .5;
}

img {
  margin-left: 61px;
  margin-top: 23px;
}

.grayOut {
  opacity: .6;
}

 